<h2>{{nature.name}}</h2>
<a href="/">Home</a>
<a href="/{{nature.id}}/edit">Edit the thing</a>
<a href="/{{nature.id}}/delete">Delete</a>
<img src="{{nature.img}}" alt="park">
<div>
  Size: {{nature.size}} acres
</div>
